/*$$$$$$$$$$$$$$$$$$$$$$= **Front page styles** =$$$$$$$$$$$$$$$$$$$$$$*/
/*=========== Generic settings for whole page ===========*/
div{
  display: block;
  box-sizing: border-box;
}

body{
  background-color: #c2c5bc;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  font-size: 14px;
  margin: 0;
  display: block;
  background: url("backgroundIMG.jpg");
}

html{
  font-size: 10px;
  font-family: sans-serif;
}
/*=========== end generic settings ===========*/

/*=========== Title of front page ===========*/
.title{
  margin-left: 15%;
  border-bottom: 5px groove #424040;
  line-height: 13rem;
  letter-spacing: 1rem;

  font-size: 5rem;
  text-shadow: 3px 3px 5px rgba(51, 153, 255, 0.4);
  font-family: Copperplate, fantasy;
}

/*=========== upload box on the front page ===========*/
.uploadContainer{
  margin: auto;
  position: relative;

  border: 3px solid green;
  background-color: #99ddff;
  padding: 2.5rem;
  border-radius: 10px/10px;
  box-shadow:
    0 4px 8px 0 rgba(0,0,0,0.2),
    0 6px 20px 0 rgba(0,0,0,0.2);

  height: 16rem;
  width: 70%;

  font-size: 5rem;
}

.uploadContainer span{
  position: absolute;
  left: 5rem;
  top: 2.5rem;
}

.uploadBtn{
  font-size: 2.5rem;

  position: absolute;
  right: 5rem;
  bottom: 2.5rem;
}

#fileinput{
  display: none;
}
/*=========== end of upload box ===========*/

/*=========== form/selection box ===========*/
.formContainer{
  border: 3px solid green;
  background-color: #99ddff;
  padding: 2.5rem;
  border-radius: 10px/10px;
  box-shadow:
    0 4px 8px 0 rgba(0,0,0,0.2),
    0 6px 20px 0 rgba(0,0,0,0.2);

  min-height: 20rem;
  width: 30%;
  float: left;

  margin-top: 2.5%;
  margin-left: 15%;
}


.formContainer .radio{
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 2.5rem;
}

.formContainer label{
  max-width: 100%;
  font-weight: 700;
}

legend{
  font-size: 4rem;
  display: block;
  width: 50%;
  padding: 0;
  padding-left: 2rem;
  margin-bottom: 20px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

fieldset{
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  display: block;
  box-sizing: border-box;
}
/*=========== end of selection box ===========*/

/*=========== image box on front page ===========*/
.imgContainer{
  min-height: 30rem;
  width: 37.5%;
  float: left;
  margin-top: 2.5%;
  margin-left: 2.5%;
  text-align: center;

  display: flex;
  justify-content: center;
}

.imgContainer .inner{
  border: 3px solid green;
  border-radius: 10px/10px;
  background-color: #99ddff;
  padding: 2.5rem;
  box-shadow:
    0 4px 8px 0 rgba(0,0,0,0.4),
    0 6px 20px 0 rgba(0,0,0,0.4);
}

.imgContainer img{
  border: 3px solid rgb(153,153,153);
  border-radius: 10px/10px;

}

.picture{
  max-width: 100%;
  max-height: 50rem;
}
/*=========== end of image box ===========*/
/*$$$$$$$$$$$$$$$$$$$$$$= end front page styles =$$$$$$$$$$$$$$$$$$$$$$*/

/*$$$$$$$$$$$$$$$$$$$$$$= Modal Styles =$$$$$$$$$$$$$$$$$$$$$$*/
/*=========== Main modal container ===========*/
.modalContainer{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
/*=========== end main modal container ===========*/

/*=========== modal header ===========*/
.modalHeader{
  position: absolute;;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 11rem;
  border-bottom: 3px solid #40503A;
  border-radius: 7px 7px 0px 0px;
  background-color: #6F8A66;
  box-shadow:
    -4px 0 8px 0 rgba(0,0,0,0.2),
    -6px 0 20px 0 rgba(0,0,0,0.2);
}

.modalTitle{
  font-size: 5rem;
  font-weight: bold;

  position: absolute;
  top: 2rem;
  left: 3rem;
  bottom: 2rem;
}

.modalCancel{
  color: rgba(255, 0, 0, .4);
  font-size: 2rem;
  font-weight: bold;
  float: right;
  padding: 2.5rem;
}

.modalCancel:hover, .modalCancel:focus{
  color: rgba(255, 0, 0, 1);
  cursor: pointer;
  text-decoration: none;
}
/*=========== end modal header ===========*/

/*=========== Modal footer ===========*/
.modalFooter{
  position: absolute;;
  bottom: 0rem;
  left: 0rem;
  width: 100%;
  padding: 2.5rem;
  height: 8rem;
  border-top: 3px solid #40503A;
  border-radius: 0px 0px 7px 7px;
  background-color: #6F8A66;
  box-shadow:
    4px 0 8px 0 rgba(0,0,0,0.2),
    6px 0 20px 0 rgba(0,0,0,0.2);
}

.modalUploadBtn{
  font-size: 2.5rem;
  width: 10%;

  position: absolute;
  left: 45%;
  bottom: 2rem;
  top: 2rem;
}
/*=========== end modal footer ===========*/

/*=========== **Modal body** ===========*/
.modalContent{
  margin: 5% auto;
  width: 65%;
  height: 75%;
  position: relative;

  padding: 2.5rem;

  border: 3px solid #0080c0;
  border-radius: 10px/10px;
  background-color: #485443;
  box-shadow:
    0 4px 8px 0 rgba(0,0,0,0.2),
    0 6px 20px 0 rgba(0,0,0,0.2);

  -webkit-animation-name: modalFromTop;
  -webkit-animation-duration: 0.5s;
  animation-name: modalFromTop;
  animation-duration: 0.5s;
}

@-webkit-keyframes modalFromTop {
    from {top: -50px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes modalFromTop {
    from {top: -50px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* the gallery. modalUploadItems will be generated here*/
#modalImgContainer{
  position: absolute;
  top: 11rem;
  left: 0rem;
  bottom: 8rem;
  width: 100%;
  overflow-y: scroll;
}

/* a box containing a modalUploadImg,
display name input, and remove button. 1 per upload*/
.modalUploadItem{
  margin: 2.5rem;
  position: relative;
  height: 30rem;

  border: 3px solid #0080c0;
  border-radius: 10px/10px;
  background-color: #7BB1CC;

  -webkit-animation-name: restoreItem;
  -webkit-animation-duration: 0.5s;
  animation-name: restoreItem;
  animation-duration: 0.5s;
}

@-webkit-keyframes restoreItem {
  from {height: 8rem;}
  to {height: 30rem;}
}

@keyframes restoreItem {
  from {height: 8rem;}
  to {height: 30rem;}
}

/*preview image styling*/
.modalUploadItem .modalUploadImg{
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
  bottom: 2.5rem;
  width: 40%;

  text-align: center;
}

/*preview image styling and animation*/
.modalUploadItem .modalUploadImg img{
  max-height: 24rem;
  border-radius: 10px;
  border: 2px solid black;

  -webkit-animation-name: restoreItemImg;
  -webkit-animation-duration: .3s;
  animation-name: restoreItemImg;
  animation-duration: .3s;
}

@-webkit-keyframes restoreItemImg {
  from {opacity: 0; max-height: 0rem;}
  to {opacity: 1; max-height: 24rem;}
}

@keyframes restoreItemImg {
  from {opacity: 0; max-height: 0rem;}
  to {opacity: 1; max-height: 24rem;}
}

/*========= display name input ==========*/
.modalUploadForm{
  position: absolute;
  right: 2.5rem;
  top: 5rem;
  bottom: 2.5rem;
  width: 55%;
  padding-top: 2.5%;

  -webkit-animation-name: restoreItemForm;
  -webkit-animation-duration: 0.5s;
  animation-name: restoreItemForm;
  animation-duration: 0.5s;
}

@-webkit-keyframes restoreItemForm {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes restoreItemForm {
  from {opacity: 0;}
  to {opacity: 1;}
}

.modalUploadForm label{
  font-weight: bold;
  font-size: 18px;
  position: relative;
}

.modalUploadForm input{
  position: relative;
  width: 90%;
  height: 2rem;
  left: 5%;
  font-size: 16px;
}
/*========= end display name input ==========*/

/*the remove button*/
#modalImgContainer .removeImgBtn{
  position: absolute;
  bottom: 2.5rem;
  right: 5%;
  width: 15%;
  height: 2.5rem;
}
#modalImgContainer .removeImgBtn:hover{
  color: red;
}
#modalImgContainer .removed .removeImgBtn:hover{
  color: green;
}

/*========= Effects for removing item ==========*/
.removed{
  height: 8rem;

  -webkit-animation-name: removeItem;
  -webkit-animation-duration: 0.5s;
  animation-name: removeItem;
  animation-duration: 0.5s;
}

@-webkit-keyframes removeItem {
  from {height: 30rem;}
  to {height: 8rem;}
}

@keyframes removeItem {
  from {height: 30rem;}
  to {height: 8rem;}
}

.removed div{
  display: none;
}
/*========= end effects for removing item ==========*/
/*=========== **end modal body** ===========*/

/*$$$$$$$$$$$$$$$$$$$$$$= end modal styles =$$$$$$$$$$$$$$$$$$$$$$*/
