
.title{
  margin-left: 15%;
  font-size: 5rem;
  text-shadow: 3px 3px 5px rgba(51, 153, 255, 0.4);
  border-bottom: 5px groove #424040;
  width: 26%;
  line-height: 40px;
  margin-bottom: -5rem;
}

.uploadContainer{
  margin: auto;
  margin-top: 5%;
  position: relative;

  border: 3px solid #0080c0;
  background-color: #99ddff;
  padding: 2.5rem;
  border-radius: 10px/10px;

  height: 16rem;
  width: 70%;

  font-size: 5rem;
}

.uploadContainer span{
  position: absolute;
  left: 5rem;
  top: 2.5rem;
}

.uploadBtn{
  font-size: 2.5rem;
  width: 10%;

  position: absolute;
  right: 5rem;
  bottom: 2.5rem;
}

.formContainer{
  border: 3px solid #0080c0;
  background-color: #99ddff;
  padding: 2.5rem;
  border-radius: 10px/10px;

  min-height: 20rem;
  width: 30%;
  float: left;

  margin-top: 2.5%;
  margin-left: 15%;
}


.formContainer .radio{
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 2.5rem;
}

.formContainer label{
  max-width: 100%;
  font-weight: 700;
}

.imgContainer{
  border: 3px solid #0080c0;
  border-radius: 10px/10px;
  background-color: #99ddff;
  padding: 2.5rem;

  min-height: 30rem;
  width: 35%;
  float: left;
  margin-top: 2.5%;
  margin-left: 5%;
  text-align: center;
}

.picture{
  max-width: 100%;
  max-height: 50rem;
}

legend {
  font-size: 4rem;
  display: block;
  width: 50%;
  padding: 0;
  padding-left: 2rem;
  margin-bottom: 20px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

fieldset{
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  display: block;
  box-sizing: border-box;
}

div{
  display: block;
  box-sizing: border-box;
}

body {
  background-color: #c2c5bc;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857143;
  font-size: 14px;
  margin: 0;
  display: block;
}

html{
  font-size: 10px;
  font-family: sans-serif;
}

.modalContainer{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.modalContent{
  margin: 5% auto;
  width: 65%;
  height: 75%;
  position: relative;

  padding: 2.5rem;

  border: 3px solid #0080c0;
  border-radius: 10px/10px;
  background-color: #ccffff;
  box-shadow:
    0 4px 8px 0 rgba(0,0,0,0.2),
    0 6px 20px 0 rgba(0,0,0,0.2);
  overflow: auto;

  -webkit-animation-name: modalFromTop;
  -webkit-animation-duration: 0.5s;
  animation-name: modalFromTop;
  animation-duration: 0.5s;
}

@-webkit-keyframes modalFromTop {
    from {top: -50px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes modalFromTop {
    from {top: -50px; opacity: 0}
    to {top: 0; opacity: 1}
}

.modalCancel{
  color: rgba(255, 0, 0, .4);
  font-size: 2rem;
  font-weight: bold;
  float: right;
}

.modalCancel:hover, .modalCancel:focus{
  color: rgba(255, 0, 0, 1);
  cursor: pointer;
  text-decoration: none;
}

.modalUploadBtn{
  font-size: 2.5rem;
  width: 10%;

  position: absolute;
  left: 45%;
  bottom: 2.5rem;
}
